.wrap {
  width: 70%;
  margin: 50px auto;
  text-align: center;
  border: 3px solid #333;
  padding: 30px;
}

a {
  text-decoration: none;
}

.quote-header h1 {
  font-size: 35px;
  color: #3f2;
  text-shadow: 0 1px 2px #333;
}

.quote-box {
  margin-left: 40px;
  border-left: 1px solid #3f2;
  font-style: italic;
  font-size: 25px;
  text-align: left;
  margin: 30px;
  padding: 30px;
  min-height: 100px;
}

.quote-button .button {
  background-color: #3f2;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
}
